<ul class="nav-access">
    {{!-- {{#ifndef user }}
        <li><a href="/login" class="nav-links nav-links-btn">Sign In</a></li>
    {{else}}
        <li><a href="/logout" class="nav-links nav-links-btn">Sign Out</a></li>
    {{/ifndef}}      --}}
</ul>


