<!-- Navigation Bar -->

<div class="nav-container">
    <nav class="navbar">

        <div id="navbar-logo">
            <div class="logo">
                <i class='bx bxs-cube-alt'></i>
                <div class="logo_name"><a href="/">WebScheduler</a></div>
            </div>
        </div>

        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        
        <div class="nav-menu-access-group">

            {{>menubar}}
            
            {{>accessbar}}

        </div>
        
    </nav>
</div>

