<!-- Main Content -->

<div class="wrapper">

    <div class="main-container">
        <div class="main-content">
            {{!-- <h1>Manage your projects and simplify the tasks, organize everything</h1>
            <p>Tasker has been designed to help you keep track of all your tasks, optimize workflows 
                and fully automate your business so you can focus on what is important</p>
            <button class="main-btn">
                <a href="#">Get Started</a>
            </button> --}}
        </div>
        {{!-- <div class="main-img-container">
            <img src="images/landing_options/pic1.svg" alt="" id="main-img">
        </div> --}}
    </div>

</div>